# Byte-compiled / cache
__pycache__/
*.py[cod]

# Environment files
.env

# Credentials & tokens
credentials/token.json
credentials/client_secrets.json

# Selenium session
cookies/

# OS / Editor junk
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
